@model CalloutViewModel
@using ADL.Web.Models

@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Insert", "Home", "", FormMethod.Post)) {

<div class="top-buffer"></div>
    @if(Model.Success == true)
    {
        <div class="alert alert-success">Your booking was created successfully.<br />
            <a href="~/Downloads/JSON/@Model.JsonFile">Download JSON</a><br />
            <a href="~/Downloads/XML/@Model.XmlFile">Download XML</a></div>
    }
    
<div class="card">
    <div class="card-header panel-head">Engineer Callout Request Form</div>
    <div class="card-body">
        @Html.ValidationSummary(false, "", new {@class="alert-danger"})
       
        <div class="top-buffer"></div>
        <fieldset>
            <legend>Contact Information</legend>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.FirstName)
                    @Html.TextBoxFor(modelItem => modelItem.FirstName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(modelItem => modelItem.FirstName, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.LastName)
                    @Html.TextBoxFor(modelItem => modelItem.LastName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(modelItem => modelItem.LastName, "", new {@class = "text-danger"})
                </div>
            </div>
       
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.EmailAddress)
                    @Html.TextBoxFor(modelItem => modelItem.EmailAddress, new {@class = "form-control"})
                        @Html.ValidationMessageFor(modelItem => modelItem.EmailAddress, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.ContactNumber)
                    @Html.TextBoxFor(modelItem => modelItem.ContactNumber, new {@class = "form-control"})
                    @Html.ValidationMessageFor(modelItem => modelItem.ContactNumber, "", new {@class = "text-danger"})
                </div>
            </div>
        </fieldset>

        
        <fieldset>
            <legend>Service Information</legend>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.VehicleReg)
                    @Html.TextBoxFor(modelItem => modelItem.VehicleReg, new {@class = "form-control"})
                    @Html.ValidationMessageFor(modelItem => modelItem.VehicleReg, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                        @Html.LabelFor(modelItem => modelItem.Categories) @Html.DropDownListFor(modelItem => modelItem.Category, Model.Categories ,"Choose Category", new {@class = "form-control"})
                        
                    @Html.ValidationMessageFor(modelItem => modelItem.Category, "", new {@class = "text-danger"})
                    <div id="tooltip"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(modelItem => modelItem.Address)
                    @Html.TextAreaFor(modelItem => modelItem.Address, new {@class = "form-control"})
                    @Html.ValidationMessageFor(modelItem => modelItem.Address, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(modelItem => modelItem.DateBooked)
                    @Html.TextBoxFor(modelItem => modelItem.DateBooked, new {@class = "form-control", @type = "date"})
                    @Html.ValidationMessageFor(modelItem => modelItem.DateBooked, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    <div id="timebox"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(modelItem => modelItem.Notes)
                    @Html.TextAreaFor(modelItem => modelItem.Notes, new {@class = "form-control"})
                    @Html.ValidationMessageFor(modelItem => modelItem.Notes, "", new {@class = "text-danger"})
                </div>
            </div>
            
       
        </fieldset>
        
        <input type="submit" value="Book Appointment" class="btn btn-dark"/>
                    
    </div>
</div>

}